
.custom_button{
    background: transparent;
    border: none;
    box-shadow:none;
    -webkit-appearance: none;
    outline: none;
}

.custom_icon{
    font-size: 18px;
    color:#79787857;
    margin-top:5px;
}

.custom_icon_active{
    font-size: 18px;
    color:#209cee;
}
